<%- include ('partials/header') %>
            <div class="banner1">
                <h1>We Bring Clients & Reputable Service Providers Together</h1>
               <a href="/artisan/register" class="button">Get Your Service Listed</a>
            </div>
            <div class="banner2">
               <form action="/" method="POST">

                 <% let industry = ['AC Repair', 'Spa Services','Plumbers','Mechanics','Laundry','Information Technology','Beauty Salon','Home/Office Cleaning',
          'Catering Services','Event Management and Planning','General Merchandise'] %>
                    <select name="what">
                        <option>Which service do you need?</option>
                        <% industry.forEach(function(industries){ %>
                       <option value="<%= industries %>"><%= industries %></option>>
                        <% }) %>
                        </select>
                  
                          <% let location = ['Ikeja', 'Oke-ira','Lagos','Lekki','Epe','Ikorodu','Epe','Mushin',
          'Yaba','Ibadan','Surulere'] %>
                    <select name="where">
                        <option>Where?</option>
                        <% location.forEach(function(locations){ %>
                      <option value="<%= locations %>"><%= locations %></option>>
                        <% }) %> 
                        </select> 
               <a href="/search">
                <input type="submit" value="SEARCH"/></a>
                </form>
                </div>

                <div class="banner3">
                    <h1>Place your advert here</h1>
                </div>
                
            </div>

        <%- include ('partials/footer') %>